# Артефакты сборки Rust
target/
**/cargo-target

# IDE и редакторы
.idea/
.vscode/
.zed/
.trunk

# Системные файлы
.DS_Store

# Логи и профилировщики
logs/
Flamegraph/

# Документация, читаемая генераторами
/docs/
book
doc**/*

# Секреты и окружение
.env
zumic.conf

# Веб-артефакты
*.wasm
