# Rust build artifacts
target/
dist
tmp
/bin
**/cargo-target

# IDE and editors
.idea/
.vscode/
.zed/
.trunk
*.iml
out/

# System files
.DS_Store

debug/

# Logs and profilers
/logs
Flamegraph/

# Documentation readable by generators
/docs/
book
doc**/*

# Secrets and environment
.env
zumic.conf

# Vscode workspace
*.code-workspace

# Web artifacts
*.wasm
